# Entorno virtual
venv/
.venv/
env/

# Variables de entorno y credenciales
.env

# Cache de Python y archivos compilados
__pycache__/
*.pyc
*.pyo
*.pyd

# Base de datos local (SQLite)
*.sqlite3

# Archivos de configuración de editores / IDEs
.vscode/
.idea/

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Documentacion Sphinx
docs/sphinx/build/

# Cobertura de pruebas (Coverage)
.coverage
.coverage.*
htmlcov/
*.cover
.pytest_cache/
